<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>com.exampleweb.servlet.HomeServlet</servlet-class>
  </servlet>
  
  <!-- 서블릿 - 요청 매핑 : 어떤 요청이 발생했을 때 어떤 서블릿을 사용할지 설정 -->
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/home.action</url-pattern>
  </servlet-mapping>
  
</web-app>